pandas==2.2.2
torch==2.2.1
tqdm==4.66.2
python-dotenv==1.0.1
transformers==4.40.0
wandb==0.16.6
accelerate==0.29.3
ipykernel==6.29.4
bitsandbytes==0.43.1
chardet==5.2.0
datasets==2.18.0
evaluate==0.4.1
huggingface-hub==0.22.2
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
pipreqs==0.5.0
torchmetrics==1.4.0
tqdm==4.66.2